@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* * {
    margin: 0;
    padding: 0;
}*/

body {
    margin: 100px;
    background: #0b061f;
    color: white;
}

body.active {
    background: #fff;
    color: black;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 40px #7d2ae8;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transform: 0.2s;
    
}

.button::before {
    position: absolute;
    content: '';
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
}

input:checked + .button {
    background-color: #7d2ae8;
}

input:checked + .button::before{
    transform: translate(50px);
}

input {
    display: none;
}

.box {
    font-weight: bolder;
    font-size: 225px;
    padding: 25px;
    text-shadow: 5px 5px 40px #7d2ae8;
}

@media (max-width: 1000px) {
    .box {
        font-weight: bolder;
        font-size: 115px;
        padding: 10px;
        margin-top: 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    margin-top: 100px;
}